@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-color: gray;
    display: block;
    
}

.letra:first-letter {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}

.letra:nth-child(odd) {
    background-color: lightgrey;
}

.letra:nth-child(even) {
    background-color: white;
}

.cancion:last-of-type::after {
    content: "...";
}

.cancion:only-child::after { 
    content:none;
}

.cancion {
    line-height: 12px;
}

.letra {
    line-height: 36px;
}
/* A partir de aqui es lo que he hecho en ccs para trabajar ventanas modales*/
/* esto refleja el background de la ventana modal*/
.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0 ,0 ,0.5);
    opacity: 0;
    visibility: hidden;
    
}
/*hace visible el contenido */
#boton:checked ~ .modal{
    opacity: 1;
    visibility: visible;
    justify-content: center;
    align-items: center;
}
/* div del contenedor*/
.contenedor{
    width: 400px;
    height: 300px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    position: relative;
    justify-content: center;
    align-items: center;
}
/* cabecera del contenedor*/
.contenedor header{
    padding: 10px;
    background-color: cornflowerblue;
    color: #fff;

}
/* etiqueta de cierre */
.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
/* boton de la ventana modal*/
.botonlbl{
    display: inline-flex;   
    margin-top: 20px;
    background-color: #5488a3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 9px;
    cursor: pointer;
}

.botonlbl:hover{
    background-color: #185E83;  
}

#boton{
    display: none;
}
/* contenido de la ventana*/
.contenido p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}
.contenedor h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;

}

